body {
    background-color: black;
    color:white;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
}

h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}


div {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

#menuBG {
    width:600px;
    height:auto;
    margin:10px auto;
}

#frmMenu {
    width:600px;
    height:200px;
}

#totalPrice {
    width:200px;
    height:190px;
    margin:0 auto;
    float: right;
}

.left {
    width:200px;
    height:auto;
    float:left;
}

.middle {
    width:200px;
    height:auto;
    float:left;
}

.right {
    width:200px;
    height:auto;
    float:left;
}

#showText {
    width:200px;
    height:190px;
    margin:0px auto;
    float:left;
}

#cart {
    top:0;margin:0px auto;
    width:400px;
    height:200px;
    float:left;
}

#btnOrder {
    display: block;
    margin:10px auto;
    width:100px;
    height:40px

}
.smallPizza {
    width: 100px;
    height: auto;
}

.mediumPizza {
    width: 140px;
    height: auto;
}

.largePizza {
    width: 170px;
    height: auto;
}

.extraLargePizza {
    width: 200px;
    height: auto;
}

.personalPizza {
    width: 80px;
    height: auto;
}